<div class="container">
  <h2>ユーザー</h2>
     <div class="back">
       <%= link_to "topic一覧" , topics_path %>
    </div>
  

      <% @users.each do |user| %>
      <div class="container-child col-md-3 col-sm-4 col-xs-6 ">
        <%= profile_img(user) %><br>      
        
        <%= render partial: 'follow_form', locals: { user: user } if signed_in? %>

        
        <%= user.email %><br>
        <%= link_to "詳細ページ", user_path(user) %><br>


       
      <% if user.id != current_user.id %>
       
        <div class="item">
          <%= link_to user.name, user %><br>
          <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
        </div>
        
       <% end %>
      </div>
    <% end %>
   </div>

  

