<div class="container">
 <div class="row">
  <h2>フォロ一覧</h2>

  <% @user.followed_users.each do |user| %>
  <div class="container-child col-md-2 col-sm-4 col-xs-6">
   
   <%= profile_img(user) %><br>
   <%= user.name %><br>
   <%= user.email %><br>
   
  </div>
 <% end %>
 
 </div>
 
 <div class="row">
  <h2>フォロワー一覧</h2>
   <% @user.followers.each do |user| %>
   <div class="container-child col-md-2 col-sm-4 col-xs-6">
    <%= profile_img(user) %><br>
    <%= user.name %><br>
    <%= user.email %><br>


    </div>
    <% end %>
 
   </div>
   <%= link_to "前の画面に戻る" , users_path %><br>
   <%= link_to "topic一覧へ戻る", topics_path %>
  </div>
 