<!DOCTYPE html>
<html>
<head>
  <title>Face</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
 
<!--  <header>
    <ul>
      <li><a href="#">face</a></li>
      <li><a href="#">トップページ</a></li>
      <li><a href="#">お問い合わせ</a></li>
      <li><a href="#">topic</a></li>
    </ul>
  </header>
 -->
<%= yield %>

</body>

 <footer>
   <div class="contact"><%= link_to "お問い合わせ" , new_contact_path %></div>
 </footer>
</html>
